# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data files
data/
dashboard/main_data.csv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite3
